.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .detailsWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .actionsWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
